html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/********************** 
NOW PLAYING BAR
**********************/

#nowPlayingBarContainer {
  width: 100%;
  min-width: 620px;
  background: #222;
  position: fixed;
  bottom: 0;
}

#nowPlayingBar {
  display: flex;
  height: 90px;
  padding: 16px;
  box-sizing: border-box;
}

#nowPlayingBar .content {
  width: 100%;
  height: 57px;
}

#nowPlayingLeft,
#nowPlayingRight {
  width: 30%;
  min-width: 180px;
}

#nowPlayingCenter {
  width: 40%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerControls .buttons {
  margin: 0 auto;
  display: table;
}

.buttons .controlButton {
  background: transparent;
  border: 0;
  vertical-align: middle;
}

.buttons .controlButton img {
  width: 20px;
  height: 20px;
}

.buttons .controlButton.play img,
.buttons .controlButton.pause img {
  width: 32px;
  height: 32px;
}

.buttons .controlButton:hover {
  cursor: pointer;
}

.progressTime {
  color: #a0a0a0;
  font-size: 11px;
  min-width: 40px;
  text-align: center;
}

.playbackBar {
  display: flex;
}

.progressBar {
  width: 100%;
  height: 12px;
  display: inline-flex;
  cursor: pointer;
}

.progressBarBg {
  background: #404040;
  height: 4px;
  width: 100%;
  border-radius: 3px;
}

.progress {
  background: #a0a0a0;
  height: 4px;
  width: 0;
  border-radius: 3px;
}

.playbackBar .progressBar {
  margin-top: 3px;
}

#nowPlayingLeft .albumArtwork {
  height: 100%;
  max-width: 57px;
  margin-right: 15px;
  float: left;
  background-size: cover;
}
